{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Ecommerce Prototype</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div style="margin-left: auto">
          {% if not request.user.is_superuser %}
              <form class="d-flex" action="{% url 'search' %}" method="get">
                  <input class="form-control" type="search" placeholder="Search" name="q" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          {% else %}
              <form class="d-flex" action="#" method="get">
                  <input style="opacity: 0" class="form-control" id="search_bar" type="search" placeholder="Search" name="q" aria-label="Search">
                  <button style="opacity: 0" class="btn btn-outline-success" type="submit">Search</button>
              </form>
          {% endif %}

          </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
          {% if not request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href={% url 'cart' %}> My Cart</a>
        </li>
          {% endif %}

         <li class="nav-item dropleft">
                 <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                     {% if  request.user.is_superuser %}
                         <span class="bi bi-person-fill">{{ request.user.username }}</span></a>
                     {% else %}
                         <span class="bi bi-person-fill">{{ request.user.first_name }}</span></a>
                     {% endif %}

                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 50px;">
                     <li><a class="dropdown-item" href="#">Settings</a></li>
                      {% if not request.user.is_superuser %}<li><a class="dropdown-item" href="{% url 'order' %}">Orders</a></li>{% endif %}
                     <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                 </ul>
        </li>
            </ul>
    </div>
</nav>


{% endif %}