{% load static %}
{% block content %}
    <script>
    window.onload = window.print
    </script>
    <head>
    <style>
        #print-body{
            margin-left: 30px;
        }
    </style>
    </head>
    <div id="print-body">
    <h4 >SSR One Time Shop</h4>
                <div style="flex:1"></div>
                <div style="flex:1"></div>
            {% for item in order %}
                <div style="flex:1"><strong>Quantity:</strong>{{ item.quantity }}</div>
                <div style="flex:2"><p><strong>Item Bought:</strong>{{item.product.name}}</p></div>
                <div style="flex:1"><p><strong>Unit Price:</strong>₱{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p><strong>Amount:</strong>₱{{item.get_total|floatformat:2}}</p></div>
           <h3>Items: <strong>{{total_items}}</strong></h3>
                    <h3>Total: <strong> ₱{{total|floatformat:2}}</strong></h3>
                    <h3>Ordered By: {{ item.order.customer.name }}</h3>
                    <h3>Delivered To: {{ item.order.customer.address }}</h3>
     {% endfor %}
    </div>
<img height="100px" width="250px"src="{{ barcode.barcode.url }}">



    </div>

</div>
{% endblock %}