<div class="row">
<div class="card col-4">
  <img src="https://www.freeiconspng.com/thumbs/sales-icon/sales-icon-0.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Total Sales</b></h4>
    <h5 class="text-center">{{ totalSales }}</h5>
  </div>

</div>
<div class="card col-4">
  <img src="https://www.freeiconspng.com/thumbs/sales-icon/sales-icon-0.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Total Items Ordered</b></h4>
    <h5 class="text-center">{{ totalOrders }}</h5>
  </div>

</div>
<div class="card col-4">
  <img src="https://www.freeiconspng.com/thumbs/sales-icon/sales-icon-0.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Weekly Sales</b></h4>
   <h5 class="text-center">{{ weekSales }}</h5>
  </div>

</div>
</div>