<div class="row">
<div class="card col-4">
  <img src="https://www.pngkey.com/png/full/186-1864472_sales-and-marketing-icon-png-download-sales-and.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Total Sales</b></h4>
    <h5 class="text-center">{{ totalSales }}</h5>
  </div>

</div>
<div class="card col-4">
  <img src="https://i.imgur.com/CDd585l.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Total Items Ordered</b></h4>
    <h5 class="text-center">{{ totalOrders }}</h5>
  </div>

</div>
<div class="card col-4">
  <img src="https://i.imgur.com/cXs5ba9.png" alt="Avatar" height="300px" style="width:100%">
  <div class="container">
    <h4><b>Weekly Sales</b></h4>
   <h5 class="text-center">{{ weekSales }}</h5>
  </div>

</div>
</div>